amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.20
celery==3.1.18
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.6.7
django-audiofield==0.6.4
django-celery==3.1.16
django-tinymce==1.5.3
gunicorn==19.5.0
kombu==3.0.26
openpyxl==2.2.2
Pillow==3.3.2
psycopg2==2.7.4
pystache==0.5.4
pytz==2015.4
requests==2.7.0
SQLAlchemy==1.0.4
static==1.1.1
static3==0.6.1
stem==1.4.0
whitenoise==1.0.6
