
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Страница авторизации</title>

    <!-- Bootstrap core CSS -->

    <link href="{% static 'journal/css/bootstrap.min.css'%}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static 'journal/css/signin.css' %}" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <form class="form-signin" method="post" action="{% url 'journal:login' %}" role="form">
          {% csrf_token %}
{#        <input type="email" class="form-control" placeholder="Email address" required autofocus>#}
{#        <input type="password" class="form-control" placeholder="Password" required>#}
          {{ form.as_p }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
