{% extends 'journal/base.html' %}
{% block title %}
    &#1056;&#1077;&#1081;&#1090;&#1080;&#1085;&#1075;
{% endblock %}

{% block page_header %}
    &#1056;&#1077;&#1081;&#1090;&#1080;&#1085;&#1075;
{% endblock %}

{% block main_content_up %}
    {% load staticfiles %}
    <script src="{% static 'journal/js/table-fixed-header.js'%}"></script>
      <link rel="stylesheet" href="{% static 'journal/css/table-fixed-header.css' %}" media="screen" type="text/css">

          <div class="row placeholders">
          {% for i in four %}
            <div class="col-xs-6 col-sm-3">
              <img src="/media/{{ i.student.photo }}" class="img-thumbnail" alt="Generic placeholder thumbnail">
              <h4><a href="{% url 'journal:student' i.student.id %}"> {{i.student}}</a></h4>
              <span class="text-muted">{{i.student.school}}</span>
            </div>
          {% endfor %}
        {% endblock %}
{% block main_menu%}
    <ul class="nav nav-sidebar">
                <li class="active"><a href="{% url 'journal:raiting' %}">&#1056;&#1077;&#1081;&#1090;&#1080;&#1085;&#1075;</a></li>
              </ul>
{% endblock %}

{% block main_content_down %}

          <div class="table-responsive">
            <table class="table table-hover table-fixed-header" id="example">
              <thead class="header">
                <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Photo</th>
                  <th class="text-center">&#1060;&#1048;&#1054;</th>
                 {% for subject in subjects %}
                  <th class="text-center">{{ subject.subject }}<p class="text-muted">{{ subject.avg|floatformat:2 }}</p></th>
                 {% endfor %}
                  <th class="text-center">AVG</th>
                </tr>
              </thead>
              <tbody>
                {% for i in list  %}
                <tr>
                  <td>{{ i.num }}</td>
                  <td><a href="/media/{{i.student.photo}}" class="lightbox"><img src="/media/{{ i.student.photo }}" class="img-thumbnail" width="100" height="100"></a></td>
                  <td><font size="4"><a href="{% url 'journal:student' i.student.id %}">{{ i.student}}</a></font></td>
                  {% for mark in i.marks %}
                    <td><font size="4">{{ mark|floatformat:2}}</font></td>
                  {% endfor %}
                   <td><font size="4"><b>{{ i.avg|floatformat:2 }}</b></font></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

    </div>
    <script language='javascript' type='text/javascript'>
      $(document).ready(function(){
      $('.table-fixed-header').fixedHeader();
      });
    </script>
{% endblock %}