{% extends 'journal/base.html' %}

{% block title %}
Статистика по оценкам
{% endblock %}

{% block page_header %}
Статистика по оценкам
{% endblock %}
{% block main_menu %}

{% endblock %}

{% block main_content_up %}

{% endblock %}
{% block main_content_down %}
    <table class="table table-responsive table-striped">
        <tr >
            <th>ФИО</th>
            {% for group in classes %}
                <th>{{ group.parallel }} {{ group.name}}</th>
            {% endfor %}
        </tr>
             {% for stat in stats %}
                 <tr>
                 {% for el in stat %}
                        <td {% ifequal el 100 %}
                            class="bg-success"
                        {% endifequal %}
                        >{{ el}} {% ifnotequal el '-' %}
                            {% if el >= 0 %}
                                %
                            {% endif %}
                        {% endifnotequal %}
                        </td>
                 {% endfor %}
                 </tr>
             {% endfor %}

    </table>
    {% for stat in stats %}
        <br>{{ stat.teacher }} /{{ stat.group.parallel }} /{{ stat.group }} /{{ stat.num }}
    {% endfor %}

{% endblock %}